@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  /* transition: 50ms ease-in-out all; */
}

.hoverEffect {
  display: inline-block;
  position: relative;
  /* padding-bottom: 5px; */
  /* color: #f59e0b; */
}


.hoverEffect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f59e0b;
  transform-origin: left ;
  transition: transform 0.25s ease-out;
}

.hoverEffect:hover::after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}

